### Import Libraries

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Data

In [27]:
data = pd.DataFrame({
    'HoursStudied': [2, 3, 4, 5, 6, 7],
    'HoursWatchingTV': [4, 3, 2, 1, 0, 0],
    'OutdoorActivityTime': [2, 4, 6, 8, 10, 12],
    'HoursListeningToMusic': [2, 3, 4, 1, 5, 0],
    'WaterConsumed': [5, 6, 5, 6, 4, 5],
    'TestScore': [65, 70, 75, 80, 85, 90]
})

In [28]:
data

,HoursStudied,HoursWatchingTV,OutdoorActivityTime,HoursListeningToMusic,WaterConsumed,TestScore
0,2,4,2,2,5,65
1,3,3,4,3,6,70
2,4,2,6,4,5,75
3,5,1,8,1,6,80
4,6,0,10,5,4,85
5,7,0,12,0,5,90

### Correlation

In [29]:
def correlation(features, col_a, col_b):
    x, y = features[col_a], features[col_b]
    x_mean, y_mean = np.mean(x), np.mean(y)
    x_std, y_std = np.std(x), np.std(y)
    return round(np.sum((x - x_mean) * (y - y_mean)) / (len(x) * x_std * y_std),3)

In [30]:
other_cols = data.columns[:-1]
corr = []
for col in other_cols:
    corr.append(correlation(data, col, 'TestScore'))
corr = np.array(corr).reshape(1, 5)
corr = pd.DataFrame(corr, columns = other_cols, index = ['TestScore'])
corr

,HoursStudied,HoursWatchingTV,OutdoorActivityTime,HoursListeningToMusic,WaterConsumed
TestScore,1.0,-0.982,1.0,-0.2,-0.355

In [53]:
positive_corr = []
negative_corr = []
no_sign_corr = []
for i in range(corr.shape[1]):
    if corr.iloc[0, i] > 0.5:
        positive_corr.append(corr.columns[i] + ' - Positive Correlation')
    elif corr.iloc[0, i] < -0.5:
        negative_corr.append(corr.columns[i] + ' - Negative Correlation')
    else:
        no_sign_corr.append(corr.columns[i] + ' - No Significant Correlation')
    
print(*positive_corr, sep='\n', end='\n\n')
print(*negative_corr, sep='\n', end='\n\n')
print(*no_sign_corr, sep='\n')

HoursStudied - Positive Correlation
OutdoorActivityTime - Positive Correlation

HoursWatchingTV - Negative Correlation

HoursListeningToMusic - No Significant Correlation
WaterConsumed - No Significant Correlation